.panel3 {
    position: fixed;
    right: 39%;
    top: 40%;
}

.panelToday {
    display: flex;
    /*flex-direction: column;*/
    align-items: flex-start;
    padding: 10px;
    gap: 23px;
    width: 185px;
    height: 40px;
    /*top: 337px;
    left: 607px;*/
    border-radius: 10px;
    
    position: fixed;
    right: 39%;
    top: 40%;
   
}

.panelAll {
    display: flex;
    /*flex-direction: column;*/
    align-items: flex-start;
    padding: 10px;
    gap: 23px;
    width: 185px;
    height: 40px;
    /*top: 337px;
    left: 607px;*/
    border-radius: 10px;
    
    position: fixed;
    right: 39%;
    top: 45%;

    
}

.panelData {
    display: flex;
    /*flex-direction: column;*/
    align-items: flex-start;
    padding: 10px;
    gap: 23px;
    width: 185px;
    height: 40px;
    /*top: 337px;
    left: 607px;*/
    border-radius: 10px;
    
    position: fixed;
    right: 39%;
    top: 50%;

    
}

.h1 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(147, 51, 234, 1);
    display: flex;
    /*flex-direction: column;*/
    align-items: flex-start;
   
    padding: 1%;
    width:25vw;
    height: 4vh;
    /*top: 337px;
    left: 607px;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(259.86deg, #F5EDFD 0%, #FEEFF5 85.32%);

    

}

.blockH1 {
    display: flex;
    /*flex-direction: column;*/
    align-items: flex-start;
    position: fixed;
    right: 39%;
    top: 55%;
    
}

.panelAddTask {
    display: flex;
    /*flex-direction: column;*/
    align-items: flex-start;
    padding: 10px;
    gap: 23px;
    width: 185px;
    height: 40px;
    /*top: 337px;
    left: 607px;*/
    border-radius: 10px;
    background: rgba(147, 51, 234, 0.06);
    position: fixed;
    right: 39%;
    top: 66%;
}

.save{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(103, 184, 203, 0.06);
    border-radius: 10px;
    width: 10vw;
    height: 4vh;
    padding: 8px;
    
    gap: 5px;
    margin: 0 10px;
}

.close {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(103, 184, 203, 0.06);
    border-radius: 10px;
    width: 10vw;
    height: 4vh;
    padding: 8px;
    
    gap: 5px;
    margin: 0 10px;
}

.interTask {
    background: linear-gradient(0deg, rgba(147, 51, 234, 0.06), rgba(147, 51, 234, 0.06)), linear-gradient(0deg, #F3F3F3, #F3F3F3);
    border-radius: 10px;
    border: 1px solid rgba(147, 51, 234, 0.06);
    width: 20vw;
    height: 4vh;
    position: fixed;
    right: 40%;
    top: 47%;
}

.delete {
    color: rgba(245, 100, 151, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(103, 184, 203, 0.06);
    border-radius: 10px;
    width: 10vw;
    height: 4vh;
    padding: 8px;
    
    gap: 5px;
    margin: 0 10px;
}
.areYou {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(147, 51, 234, 1);
    margin-top:7%

}

.panelToday:focus {
    background: rgba(147, 51, 234, 0.06);
}
.panelAll:focus {
    background: rgba(147, 51, 234, 0.06);
}
.panelData:focus {
    background: rgba(147, 51, 234, 0.06);
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    /*gap: 23px;*/
    
    width: 25vw;
    height: 30vh;
    /*top: 632px;
    left: 810px;*/
    border-radius: 10px;
    /*position: absolute;*/
    /*left: 20%;
    top: 5%;*/
    background-color: white;

    padding: 1%;
    position:fixed;
    right: 10%;
    top: 40%;

}

.task {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    gap: 23px;
    
    gap: 23px;
    /*width: 428px;
    height: 33px;*/
    width: 23vw;
    height: 4vh;
    /*top: 363px;
    left: 831px;*/
    border-radius: 10px;
    background: rgba(147, 51, 234, 0.06);

}

.task1 {
    width: 428px;
    height: 33px;   
}